HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
*.log
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### JAVA TEST ###
src/test/java

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
.mvn/
mvnw.cmd
mvnw
.DS_Store
logs/
user/
.scannerwork/report-task.txt
sonar-project.properties
.scannerwork/.sonar_lock
/hs_err_pid71124.log
